body								{ font-family:'Optimist',Verdana,sans-serif; font-weight:500; font-size:20px; line-height:24px; color:#011829; ‑webkit‑text‑size‑adjust:100%; }
.wrap								{ width:90%; max-width:1120px; position:relative; margin:0 auto; }

a									{ text-decoration:none; color:#0178A2; }
a:hover					{ text-decoration:underline; outline:none; }
a:focus                                 { text-decoration:underline; }



/* Profile CSS */
.about-me-circle {
	background-image: linear-gradient(to bottom, #babebf 5%, #babebf 95%);
	background-color: #babebf;
	width: 175px;
	height: 175px;
	border-radius: 9999px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	cursor: pointer;
	margin-left: 10em;
}
.home-circle-small {
	background-image: linear-gradient(to bottom, #54bccf 5%, #1996ec 95%);
	background-color: #54bccf;
	width: 60px;
	height: 60px;
	border-radius: 9999px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	cursor: pointer;
	margin-left: 10em;
}
.about-me-circle-small {
	background-image: linear-gradient(to bottom, #babebf 5%, #babebf 95%);
	background-color: #babebf;
	width: 60px;
	height: 60px;
	border-radius: 9999px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	cursor: pointer;
	margin-left: 10em;
}
.skills-circle {
	background-image: linear-gradient(to bottom, #dcd8d8 5%, #dcd8d8 95%);
	background-color: #dcd8d8;
	width: 175px;
	height: 175px;
	border-radius: 9999px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	cursor: pointer;
	margin-left: 32em;
}
.skills-circle-small {
	background-image: linear-gradient(to bottom, #dcd8d8 5%, #dcd8d8 95%);
	background-color: #dcd8d8;
	width: 60px;
	height: 60px;
	border-radius: 9999px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	cursor: pointer;
	margin-left: 10em;
}
.work-circle {
	background-image: linear-gradient(to bottom, #f3efe0 5%, #f9efcc 95%);
	background-color: #f3efe0;
	width: 175px;
	height: 175px;
	border-radius: 9999px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	cursor: pointer;
	margin-left: 52em;
}
.work-circle-small {
	background-image: linear-gradient(to bottom, #f3efe0 5%, #f9efcc 95%);
	background-color: #f3efe0;
	width: 60px;
	height: 60px;
	border-radius: 9999px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	cursor: pointer;
	margin-left: 10em;
}
.col-md-4 {
	width: 33%;
}
.col-md-8 {
	width: 67%;
}
.button-t {
	font-size: 18px;
	line-height: 16px;
	box-shadow: 0 0 0 2px #fdfdfd inset;
	color: #fdfdfd !important;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	text-transform: capitalize;
	padding: 14px 24px;
	background-color: transparent;
	text-decoration: none !important;
}
