<head>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/base.css">
        <style>
                .phone_messages_active {display: block}
                .phone_messages_inactive   {display: none;}
                .footer_links_expand   {display: block;}
                .footer_links_collapse   {display: none;}
                .faq_collapse {background-image: url(images/down_caret.png);background-repeat: no-repeat;background-position: right center;}
                .faq_expand {background-image: url(images/up_caret.png);background-repeat: no-repeat;background-position: right center;}
        </style>
</head>
<div >



    <h1 style="margin-top: 0.5em;margin-bottom:15px;font-size: 54px;color:#22A39F;font-weight: 300;text-align:center;">Raghuram Madiraju</h1><br>
    <h1 style="margin-bottom:20px;font-size: 30px;color:lightgrey;font-weight: 300;text-align:center;">Full Stack Developer</h1><br>
    <a href="https://docs.google.com/viewer?url=https://github.com/rmadiraju/my-profile/raw/gh-pages/resume/Re%CC%81sume%CC%81%20-%20Raghuram%20Madiraju.pdf" target="_blank" class="button-t" style="margin-top: -5em;margin-left:36em;"> View Resume <i class="fa fa-file-pdf-o fa" style="color:white"></i></a><br>

    <div ng-show="vm.showHome" style="margin-top: 2em">
        <div class="about-me-circle" ng-click="vm.openAbout()">
            <i class="fa fa-child fa-4x" style="margin-left: 0.72em;margin-top: 0.45em;color:green"></i>
            <br><span style="margin-left: 2.2em;">About me</span>
        </div>

        <div class="skills-circle" style="margin-top: -8.7em" ng-click="vm.openSkills()">
            <i class="fa fa-wrench fa-4x" style="margin-left: 0.69em;margin-top: 0.45em;color:green"></i>
            <br><span style="margin-left: 3.3em;">Skills</span>
        </div>

        <div class="work-circle" style="margin-top: -8.7em" ng-click="vm.openWork()">
            <i class="fa fa-briefcase fa-4x" style="margin-left: 0.60em;margin-top: 0.55em;color:green"></i>
            <br><span style="margin-left: 3.3em;margin-top: 0.1em">Work</span>
        </div>
    </div>

    <div ng-show="vm.showAbout" style="margin-top: 2em">
        <div class="home-circle-small" ng-click="vm.home()">
            <i class="fa fa-home fa-2x" style="margin-left: 0.28em;margin-top: 0.25em;color:green"></i>
        </div>
        <div class="skills-circle-small" style="margin-top: 0.5em" ng-click="vm.openSkills()">
            <i class="fa fa-wrench fa-2x" style="margin-left: 0.3em;margin-top: 0.3em;color:green"></i>
        </div>
        <div class="work-circle-small" style="margin-top: 0.5em" ng-click="vm.openWork()">
            <i class="fa fa-briefcase fa-2x" style="margin-left: 0.27em;margin-top: 0.3em;color:green"></i>
        </div>

        <div  style="margin-left:18em;margin-top: -10.5em;width: 80%;align:center;">
            <div id="education">
                <h2 style="color:powderblue;font-size: 28px;font-weight: 300;margin-bottom: 0.3em;">Education <i class="fa fa-graduation-cap fa" style="margin-bottom: 0.3em;margin-left: 5px;color:powderblue"></i></h2>
                <h3 style="color:grey;font-size: 20px;font-weight: 200;margin-left:1em;margin-bottom: 1em;">Bachelors in Electronics & Communication Engineering
                    JNTU, Hyderabad, India </h3>
            </div>
            <div id="experience">
                <h2 style="color:powderblue;font-size: 28px;font-weight: 300;margin-bottom: 0.3em;">Experience <i class="fa fa-briefcase fa" style="margin-bottom: 0.3em;margin-left: 5px;color:powderblue"></i></h2>
                <h3 style="color:grey;font-size: 20px;font-weight: 200;margin-left:1em;margin-bottom: 1em;">13+ years in Software Development including 3+ years in leading teams </h3>
            </div>
            <div id="interests">
                <h2 style="color:powderblue;font-size: 28px;font-weight: 300;margin-bottom: 0.3em;">Interests <i class="fa fa-thumbs-up fa" style="margin-bottom: 0.3em;margin-left: 5px;color:powderblue"></i></h2>
                <h3 style="color:grey;font-size: 20px;font-weight: 200;margin-left:1em;margin-bottom: 1em;">Product Development, Innovating, Developing New Tools </h3>
            </div>
            <div id="whoami">
                <h2 style="color:powderblue;font-size: 28px;font-weight: 300;margin-bottom: 0.3em;">Who am I <i class="fa fa-question fa" style="margin-bottom: 0.3em;margin-left: 5px;color:powderblue"></i></h2>
                <h3 style="color:grey;font-size: 20px;font-weight: 200;margin-left:1em;margin-bottom: 1em;">Full stack engineer, Quick learner, Solution oriented </h3>
            </div>
            <div id="lookingfor">
                <h2 style="color:powderblue;font-size: 28px;font-weight: 300;margin-bottom: 0.3em;">What am I looking for? <i class="fa fa-check-circle fa" style="margin-bottom: 0.3em;margin-left: 5px;color:powderblue"></i></h2>
                <h3 style="color:grey;font-size: 20px;font-weight: 200;margin-left:1em;margin-bottom: 1em;">Work in a team, where I can learn new everyday! </h3>
            </div>

        </div>

    </div>

    <div ng-show="vm.showSkills" style="margin-top: 2em">
        <div class="home-circle-small" ng-click="vm.home()">
            <i class="fa fa-home fa-2x" style="margin-left: 0.28em;margin-top: 0.25em;color:green"></i>
        </div>
        <div class="about-me-circle-small" style="margin-top: 0.5em" ng-click="vm.openAbout()">
            <i class="fa fa-child fa-2x" style="margin-left: 0.4em;margin-top: 0.3em;color:green"></i>
        </div>
        <div class="work-circle-small" style="margin-top: 0.5em" ng-click="vm.openWork()">
            <i class="fa fa-briefcase fa-2x" style="margin-left: 0.27em;margin-top: 0.3em;color:green"></i>
        </div>

        <div  style="margin-left:18em;margin-top: -10em;width: 80%;align:center;">
            <ui style="color:powderblue;">
                <li style="margin-bottom: 1em">
                    Software Development
                </li>
                <li style="margin-bottom: 1em">
                    Design, UML
                </li>
                <li style="margin-bottom: 1em">
                    Java, Scala
                </li>
                <li style="margin-bottom: 1em">
                    Spring
                </li>
                <li style="margin-bottom: 1em">
                    Microservices
                </li>
                <li style="margin-bottom: 1em">
                    RESTFul Services
                </li>
                <li style="margin-bottom: 1em">
                    Kafka
                </li>
                <li style="margin-bottom: 1em">
                    Angular
                </li>
                <li style="margin-bottom: 1em">
                    Git, TFS, SVN, CVS, Mercurial, VSS
                </li>
            </ui>



        </div>
        <div  style="margin-left:40em;margin-top: -19.8em;width: 80%;align:center;">
            <ui style="color:powderblue;">
                <li style="margin-bottom: 1em">
                    AWS
                </li>
                <li style="margin-bottom: 1em">
                    Docker
                </li>
                <li style="margin-bottom: 1em">
                    Ant, Mavent, Ivy
                </li>
                <li style="margin-bottom: 1em">
                    Jenkins
                </li>
                <li style="margin-bottom: 1em">
                    Oracle, MySQL, PostGres
                </li>
                <li style="margin-bottom: 1em">
                    Redis, Terracotta
                </li>
                <li style="margin-bottom: 1em">
                    Hibernate
                </li>
                <li style="margin-bottom: 1em">
                    JUnit, TestNG, JMockIt
                </li>
                <li style="margin-bottom: 1em">
                    Agile, Project Management
                </li>
            </ui>



        </div>
    </div>

    <div ng-show="vm.showWork" style="margin-top: 2em">
        <div class="home-circle-small" ng-click="vm.home()">
            <i class="fa fa-home fa-2x" style="margin-left: 0.28em;margin-top: 0.25em;color:green"></i>
        </div>
        <div class="about-me-circle-small" style="margin-top: 0.5em" ng-click="vm.openAbout()">
            <i class="fa fa-child fa-2x" style="margin-left: 0.4em;margin-top: 0.3em;color:green"></i>
        </div>
        <div class="skills-circle-small" style="margin-top: 0.5em" ng-click="vm.openSkills()">
            <i class="fa fa-wrench fa-2x" style="margin-left: 0.3em;margin-top: 0.3em;color:green"></i>
        </div>
        <div id="work1">
            <div  id="comp1" style="margin-left:18em;margin-top: -10em;margin-bottom: 1em;">
                <h2 style="color:#f9efcc;font-size: 28px;font-weight: 300;margin-bottom: 0.5em;align:center;">Capital One</h2>
                <h3 style="color:grey;font-size: 20px;font-weight: 200;align:center;">Nov 2015 to Present </h3>
            </div>

            <div id="details1" style="width:40%;margin-left:35em;margin-top: -4.4em;margin-bottom: 1em;">
                <h2 style="color:#f9efcc;font-size: 22px;font-weight: 200;margin-bottom: 0.5em;align:center;">Principal Associate</h2>
                <h3 style="color:grey;font-size: 19px;font-weight: 200;align:center;margin-bottom: 0.1em;">Working as a Senior Full Stack Developer in Digital Organization</h3>
                <h3 style="color:#62f5ef;font-size: 15px;font-weight: 200;align:center;"><i class="fa fa-map-marker fa" style="margin-right: 0.2em"></i> Plano, TX <font style="margin-left:0.2em;margin-right:0.2em;color:grey">| </font> <i class="fa fa-link fa" style="margin-left: 0.1em;margin-right: 0.2em"></i> <a style="color:#62f5ef" href="www.capitalone.com">www.capitalone.com</a></h3>
            </div>
        </div>

        <div id="work2">
            <div  id="comp2" style="margin-left:18em;margin-top: 3em;margin-bottom: 1em;">
                <h2 style="color:#f9efcc;font-size: 28px;font-weight: 300;margin-bottom: 0.5em;align:center;">Gemalto</h2>
                <h3 style="color:grey;font-size: 20px;font-weight: 200;align:center;">Nov 2013 to Oct 2015 </h3>
            </div>

            <div id="details2" style="width:40%;margin-left:35em;margin-top: -4.2em;margin-bottom: 1em;">
                <h2 style="color:#f9efcc;font-size: 22px;font-weight: 200;margin-bottom: 0.5em;align:center;">Solution Architect</h2>
                <h3 style="color:grey;font-size: 19px;font-weight: 200;align:center;margin-bottom: 0.1em;">Worked as Architect for M2M products</h3>
                <h3 style="color:#62f5ef;font-size: 15px;font-weight: 200;align:center;"><i class="fa fa-map-marker fa" style="margin-right: 0.2em"></i> Austin, TX <font style="margin-left:0.2em;margin-right:0.2em;color:grey">| </font> <i class="fa fa-link fa" style="margin-left: 0.1em;margin-right: 0.2em"></i> <a style="color:#62f5ef" href="www.gemalto.com">www.gemalto.com</a></h3>
            </div>
        </div>

        <div id="work3">
            <div  id="comp3" style="margin-left:18em;margin-top: 3em;margin-bottom: 1em;">
                <h2 style="color:#f9efcc;font-size: 28px;font-weight: 300;margin-bottom: 0.5em;align:center;">IBM</h2>
                <h3 style="color:grey;font-size: 20px;font-weight: 200;align:center;">Nov 2004 to Oct 2013 </h3>
            </div>

            <div id="details3" style="width:40%;margin-left:35em;margin-top: -4.2em;margin-bottom: 1em;">
                <h2 style="color:#f9efcc;font-size: 22px;font-weight: 200;margin-bottom: 0.5em;align:center;">Technical Lead</h2>
                <h3 style="color:grey;font-size: 19px;font-weight: 200;align:center;margin-bottom: 0.1em;">Architected, designed, led and developed products in Human Capital Management (Compensation, Performance, Recruitment)</h3>
                <h3 style="color:#62f5ef;font-size: 15px;font-weight: 200;align:center;"><i class="fa fa-map-marker fa" style="margin-right: 0.2em"></i> Wayne, PA <font style="margin-left:0.2em;margin-right:0.2em;color:grey">| </font> <i class="fa fa-link fa" style="margin-left: 0.1em;margin-right: 0.2em"></i> <a style="color:#62f5ef" href="www.ibm.com">www.ibm.com</a></h3>
            </div>
        </div>

    </div>

    <div >
        <hr style="width:90%;margin-top: 5em">
        <div id="contact" style="width:70%;margin-left:11em;margin-top: 1em;margin-bottom: 1em;">
            <h2 style="color:#f9efcc;font-size: 32px;font-weight: 200;margin-bottom: 0.5em;align:center;margin-left:14em;">Contact</h2>
            <h3 style="color:#b4b3b3;font-size: 15px;font-weight: 200;align:center;"><i class="fa fa-linkedin fa-2x" style="margin-right: 0.2em;"></i> </i> <a style="color:#b4b3b3" href="https://www.linkedin.com/in/rmadiraju">https://www.linkedin.com/in/rmadiraju</a> <font style="margin-left:7em;margin-right:0.2em;color:grey">| </font> <i class="fa fa-mobile fa-2x" style="margin-left: 0.1em;margin-right: 0.2em"></i>484.620.0055 <font style="margin-left:7em;margin-right:0.2em;color:grey">| </font> <i class="fa fa-envelope fa-2x" style="margin-left: 0.1em;margin-right: 0.2em"></i><a href="mailto:raghuram.madiraju@hotmail.com?Subject=Hello%20Raghu" style="color:#b4b3b3" target="_top">raghuram.madiraju@hotmail.com</a></h3>
        </div>

    </div>





</div>
